@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
.hero {
  height: 800px;
  background-image: url("../img/places/bg-img.jpg");
  background-position: center;
  background-size: cover;
}
.hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
  color: #fff;
  text-transform: uppercase;
}
.hero-content > h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.hero-content > p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}
.hero-content > a {
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-weight: 700;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    padding: 12px 24px ;
    background-color: rgb(255, 251, 0);
}
.hero-content> a:hover{
    color: #483f3f;
}
.highlights{
  background-color: rgb(227, 255, 253);
  text-align: center;
  padding: 24px;
}
#highlights-h2{
  text-transform: uppercase;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}
#destinations{
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}
.destination{
  margin: 0 20px;
  list-style: none;
  text-transform: uppercase;
}

.destination img{
  height: 200px;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  object-fit: cover;
}
.destination img:hover{
  transition: .45s;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  -webkit-transition: .45s;
  -moz-transition: .45s;
  -ms-transition: .45s;
  -o-transition: .45s;
}
.destination > p{
  font-size: 24px;
  color: rgb(124, 123, 123);
}
.destination > p > strong{
  color: rgb(0, 160, 170);
}
